

.FormInputTop{
  text-align: center; 
}

.submitAll{
  text-align: center;
}

.cardName{
  color: #1B1B33;
  font-weight: bold;
}

.cardSchoolType{

}

.cardSchoolAttendance{

}

.cardLocationZip{

}

.cardSchoolSummary{

}

.cardPhoneNumber{

}

.cardSchoolHours{

}

.cardGradesOffered{

}

.cardDressCode{

}

.cardDropOff{

}

.cardAfterSchool{

  font-weight: bold;

}

.cardMetroBus{

}

.cardMetroEl{

}

.cardGraduationRate{

}

.cardLowIncome{

}

.cardRatingStatus{

}

.cardRatingStatement{

}

.copyright{
  text-align: right;
}

.searchResults{
  font-size: 10px;
}